/*
 * Footer
 */

.footer {
  &__primaryInner {
    @extend %__inner;
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem 0;
    border-top: 1px solid #a8a8a8;
  }

  &__secondary {
    background-color: #f4f4f4;
  }

  &__secondaryInner {
    @extend %__inner;
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem 0;
  }

  &__generalInfo {
    flex: 0 0 75%;
    display: flex;
    flex-flow: row wrap;
    padding: 1.5rem 0;
  }

  &__businessDay {
    flex: 0 0 25%;
    padding: 1.5rem 0;
  }

  &__shop, &__privacy {
    flex: 0 0 90%;
  }

  &__guide, &__help, &__company {
    flex: 0 0 30%;
  }

  &__calendar {

  }

  &__payment, &__delivery, &__customer {
    flex: 0 0 30%;
  }

  &__primaryHeading {
    margin: 0;
    color: #a8a8a8;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
