/*
 * Pickup
 */

 .pickup {
  @extend %__section;
  background-color: #a8a8a8;

  &__inner {
    @extend %__inner;
  }

  &__heading {
    @extend %__heading;
    margin: 3rem auto;
    text-align: center;

    img {
      margin: auto;
      padding: 0;
    }

    span {
      color: $bodyBg;
    }
  }
}
