/*
 * Ranking
 */

.ranking {
  @extend %__section;

  &__inner {
    @extend %__inner;
  }

  &__heading {
    @extend %__heading;
  }

  &__products {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
  }

  &__item {
    position: relative;
    flex: 0 0 20%;
    margin-bottom: 1.5rem;
    padding: 0.375rem;

    &::after {
      content: "";
      position: absolute;
      top: 0.375rem;
      left: 0.375rem;
      width: 2.25rem;
      height: 2.25rem;
      background-color: $primaryColor;
      color: #ffffff;
      text-align: center;
      line-height: 2.25rem;
    }

    &:nth-child(1)::after {
      top: -0.75rem;
      left: 0.75rem;
      width: 3rem;
      height: 3rem;
      background: url("./assets/svg/ranking_1.svg") no-repeat 50% 50% / contain scroll;
    }

    &:nth-child(2)::after {
      top: -0.75rem;
      left: 0.75rem;
      width: 3rem;
      height: 3rem;
      background: url("./assets/svg/ranking_2.svg") no-repeat 50% 50% / contain scroll;
    }

    &:nth-child(3)::after {
      top: -0.75rem;
      left: 0.75rem;
      width: 3rem;
      height: 3rem;
      background: url("./assets/svg/ranking_3.svg") no-repeat 50% 50% / contain scroll;
    }

    @for $i from 4 through 10 {
      &:nth-child(#{$i})::after {
        content: "#{$i}";
      }
    }
  }

  &__image img {
    aspect-ratio: 0.8;
    object-fit: cover;
  }

  &__info {
    margin: 1.5rem auto;
    text-align: center;
    line-height: 1.44;

    a {
      color: $primaryColor;
      font-weight: 700;

      &:hover {
        color: $primaryLightColor;
      }
    }
  }

  &__name, &__price {
    display: inline-block;
    width: 11.25rem; // 60rem / 5 - [padding]
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
