/*
 * Recommend
 */

.recommend {
  @extend %__section;
  padding-bottom: 4.5rem;
  background: linear-gradient(#ffffff 49.99%, #f4f4f4 50%);

  &__inner {
    @extend %__inner;
    overflow: hidden;
  }

  &__heading {
    @extend %__heading;
    margin: 3rem auto;
    text-align: center;

    img {
      margin: auto;
      padding: 0;
    }
  }

  &__image {
    margin: 0;

    img {
      width: 15rem;
      aspect-ratio: 0.8;
      object-fit: cover;
    }
  }

  &__info {
    width: 12rem;
    margin: 1.5rem auto;
    text-align: center;
    line-height: 1.44;

    a {
      color: $primaryColor;
      font-weight: 700;

      &:hover {
        color: $primaryLightColor;
      }
    }
  }

  &__name, &__price {
    display: inline-block;
    width: 14.25rem; // 60rem / 4 - [padding]
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
