/*
 * Section
 */

%__section {
  padding: 1.5rem 0;
}

%__inner {
  width: min(100%, 75rem); // 1200px 左右24pxずつpaddingで、内寸1152px
  margin: auto;
  padding: 0 clamp(0.75rem, 2%, 1.5rem);
}

%__heading {
  img, span {
    display: block;
    padding-left: 1.5rem;
  }

  img {
    width: auto;
    height: 5.25rem;
  }

  span {
    color: #a8a8a8;
    font-size: 1rem;
  }
}
