/*
 * Section
 */

%__section {
  padding: 1.5rem 0;
}

%__inner {
  width: clamp(60rem, 100%, 75rem); // 1200px 左右24pxずつpaddingで、内寸1152px
  margin: auto;
  padding: 0 clamp(1.2rem, 2%, 1.5rem);
}

%__heading {
  margin: 1.5rem 0;
  
  img, span {
    display: block;
    padding-left: 1.5rem;
  }

  img {
    width: auto;
    height: 5.25rem;
  }

  span {
    color: #a8a8a8;
    font-size: 1rem;
  }
}

%__viewmore {
  position: relative;
  display: block;
  width: 13.5rem;
  height: 3rem;
  padding-right: 3rem;
  border: 1px solid $primaryColor;
  background-color: #ffffff;
  color: $primaryColor;
  font-size: 0.875rem;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0.75rem;
    bottom: 0;
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    background: url("./assets/svg/icon_right.svg") no-repeat 50% 50% / contain scroll;
  }

  &:hover {
    background-color: $primaryColor;
    color: #ffffff;

    &::after {
      filter: brightness(2);
    }
  }
}
