/**
 * Slider
 */

$sliderAspectRatio:    5 / 8 !default;

.slider {
  position: relative;
  width: 100%;
  height: calc(83.33vmin * #{$sliderAspectRatio});
  overflow: hidden;
  
  // gapはJSで指定
  &__inner {
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    transform: translateX(0);
  }

  &__item {
    position: relative;
    flex: 0 1 auto; 
    order: 0;
    margin: 0;
    opacity: 1;
    transition: opacity 0.15s linear;
    
    &:not(.--current) {
      #mainSlider & {
        opacity: .85;
      }
    }

    img {
      width: 83.33vmin;
      aspect-ratio: 1 / $sliderAspectRatio;
      object-fit: cover;
      margin: 0;
    }
  }

  &__prev, &__next {
    position: absolute;
    top: 0;
    bottom: 4.5rem;
    display: block;
    width: 3rem;
    height: 3rem;
    margin: auto;
    border: 0;
    border-radius: 1.5rem;
    background-color: #ffffff;
    text-align: center;

    &:hover {
      background-color: $primaryLightColor;
    }

    &::after {
      content: "";
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5625rem 0.75rem;
    }

    &:hover::after {
      filter: brightness(2);
    }

    #mainSlider & {
      display: none;
    }
  }

  &__prev {
    left: 0;

    &::after {
      background: url("./assets/svg/icon_left.svg") no-repeat 50% 50% / contain scroll;
    }
  }

  &__next {
    right: 0;

    &::after {
      background: url("./assets/svg/icon_right.svg") no-repeat 50% 50% / contain scroll;
    }
  }
  
  &__nav {
    position: relative;
    top: -4.5rem;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 1rem;
    margin: 0.75rem auto;
    padding: 0;

    #recommend & {
      display: none;
    }
  }

  &__navItem {

    img {
      width: 10.5rem;
      margin: 0.75rem;
      padding-bottom: 0.375rem;
      border-bottom: 1px solid #333333;
      opacity: 1;
      cursor: pointer;
    }

    &:not(.--current) img {
      border-bottom: 1px solid #cccccc;
    }
  }
}
