// Variables

$bodyBg:             #ffffff;
$bodyColor:          #333333;
$primaryColor:       #1b2a44;
$primaryLightColor:  lighten($primaryColor, 50%);

$breakpointSm:       600px;
$breakpointMd:       900px;
$breakpointLg:       1200px;
