@charset "UTF-8";
/**
 * Normarize
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 599.9px) {
  html {
    font-size: 3.84vw;
  }
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #333333;
  font-family: "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

figure {
  display: block;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: left;
}

button, input, select, textarea {
  font: inherit;
}

/*
 * Section
 */
.instagram, .pickup, .recommend, .ranking, .newarrival, .hero, .header {
  padding: 1.5rem 0;
}

.footer__secondaryInner, .footer__primaryInner, .instagram__inner, .pickup__inner, .recommend__inner, .concept__inner, .ranking__inner, .newarrival__inner, .news__inner, .header__inner {
  width: clamp(60rem, 100%, 75rem);
  margin: auto;
  padding: 0 clamp(1.2rem, 2%, 1.5rem);
}

.instagram__heading, .pickup__heading, .recommend__heading, .ranking__heading, .newarrival__heading, .news__heading {
  margin: 1.5rem 0;
}
.instagram__heading img, .pickup__heading img, .recommend__heading img, .ranking__heading img, .newarrival__heading img, .news__heading img, .instagram__heading span, .pickup__heading span, .recommend__heading span, .ranking__heading span, .newarrival__heading span, .news__heading span {
  display: block;
  padding-left: 1.5rem;
}
.instagram__heading img, .pickup__heading img, .recommend__heading img, .ranking__heading img, .newarrival__heading img, .news__heading img {
  width: auto;
  height: 5.25rem;
}
.instagram__heading span, .pickup__heading span, .recommend__heading span, .ranking__heading span, .newarrival__heading span, .news__heading span {
  color: #a8a8a8;
  font-size: 1rem;
}

.recommend__viewmore, .concept__viewmore, .newarrival__viewmore {
  position: relative;
  display: block;
  width: 13.5rem;
  height: 3rem;
  padding-right: 3rem;
  border: 1px solid #1b2a44;
  background-color: #ffffff;
  color: #1b2a44;
  font-size: 0.875rem;
  text-align: center;
  line-height: 3rem;
  text-transform: capitalize;
}
.recommend__viewmore::after, .concept__viewmore::after, .newarrival__viewmore::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.75rem;
  bottom: 0;
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  background: url("./assets/svg/icon_right.svg") no-repeat 50% 50%/contain scroll;
}
.recommend__viewmore:hover, .concept__viewmore:hover, .newarrival__viewmore:hover {
  background-color: #1b2a44;
  color: #ffffff;
}
.recommend__viewmore:hover::after, .concept__viewmore:hover::after, .newarrival__viewmore:hover::after {
  filter: brightness(2);
}

/*
 * Header
 */
.header__inner {
  position: relative;
}
.header__logo {
  width: 15rem;
  margin: auto;
  margin-bottom: 0.75rem;
  padding: 0.375rem;
}
.header__nav {
  display: none;
  padding-top: 0.375rem;
  border-top: 1px solid #cccccc;
}
@media (min-width: 900px) {
  .header__nav {
    display: block;
  }
}
.header__primaryMenu, .header__socialLinks, .header__secondaryMenu {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  text-align: center;
}
.header__primaryMenuItem {
  flex: 1 1 12.5%;
  padding: 0.375rem;
  border-right: 1px solid #cccccc;
  font-weight: 700;
  text-transform: uppercase;
}
.header__primaryMenuItem:first-child {
  border-left: 1px solid #cccccc;
}
.header__sub {
  position: absolute;
  right: 0;
  bottom: 4.5rem;
  display: none;
  width: 16.5rem;
  padding: 0.75rem;
}
@media (min-width: 900px) {
  .header__sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.header__socialLinks {
  flex: 0 0 45%;
}
.header__socialLink {
  flex: 0 0 1.5rem;
}
.header__secondaryMenu {
  flex: 0 0 30%;
}
.header__secondaryMenuItem {
  flex: 0 0 2rem;
}
.header__search {
  position: relative;
  flex: 0 0 100%;
  height: 2.25rem;
  border: 2px solid #000000;
}
.header__search::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.375rem;
  background-image: url("./assets/svg/icon_search.svg");
}
.header__searchInput {
  width: 12rem;
  height: 1.5rem;
  margin: 0.25rem 0 0.25rem 2.25rem;
  padding-left: 0.5rem;
  border: 0;
  border-left: 2px solid #000000;
  font-size: 87.5%;
  line-height: 1.5rem;
  outline: 0;
}

/*
 * Hero
 */
.hero {
  padding-bottom: 7.5rem;
}

/**
 * Slider
 */
.slider {
  position: relative;
  width: 100%;
  height: calc(83.33vmin * 0.625);
  overflow: hidden;
}
.slider__inner {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  transform: translateX(0);
}
.slider__item {
  position: relative;
  flex: 0 1 auto;
  order: 0;
  margin: 0;
  opacity: 1;
  transition: opacity 0.15s linear;
}
#mainSlider .slider__item:not(.--current) {
  opacity: 0.85;
}
.slider__item img {
  width: 83.33vmin;
  aspect-ratio: 1.6;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}
.slider__prev, .slider__next {
  position: absolute;
  top: 0;
  bottom: 4.5rem;
  display: block;
  width: 3rem;
  height: 3rem;
  margin: auto;
  border: 0;
  border-radius: 1.5rem;
  background-color: #ffffff;
  text-align: center;
}
.slider__prev::after, .slider__next::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5625rem 0.75rem;
}
.slider__prev:hover, .slider__next:hover {
  background-color: #8ca6d2;
}
.slider__prev:hover::after, .slider__next:hover::after {
  filter: brightness(2);
}
#mainSlider .slider__prev, #mainSlider .slider__next {
  display: none;
}
.slider__prev {
  left: 0;
}
.slider__prev::after {
  background: url("./assets/svg/icon_left.svg") no-repeat 50% 50%/contain scroll;
}
.slider__next {
  right: 0;
}
.slider__next::after {
  background: url("./assets/svg/icon_right.svg") no-repeat 50% 50%/contain scroll;
}
.slider__nav {
  position: relative;
  top: -4.5rem;
  list-style: none;
  display: flex;
  justify-content: center;
  height: 1rem;
  margin: 0.75rem auto;
  padding: 0;
}
#recommend .slider__nav {
  display: none;
}
.slider__navItem img {
  width: 10.5rem;
  margin: 0.75rem;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid #333333;
  opacity: 1;
  cursor: pointer;
}
.slider__navItem:not(.--current) img {
  border-bottom: 1px solid #cccccc;
}

/*
 * News
 */
.news {
  padding: 4.5rem 0;
  background-color: #efefef;
}
.news__inner {
  position: relative;
  padding: 1.5rem 1.5rem 1.5rem 12rem;
  background-color: #ffffff;
}
.news__heading {
  position: absolute;
  top: -3rem;
  left: 0;
}
.news__feed {
  list-style: none;
  height: 18rem;
  margin: 0;
  padding: 0;
  overflow: auto;
}
.news__feedItem {
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid #a8a8a8;
}
.news__date {
  margin: 0;
  color: #a8a8a8;
}
.news__content {
  margin: 0;
}
.news__content a {
  color: #1b2a44;
  font-weight: 700;
}
.news__content a:hover {
  color: #8ca6d2;
}

/*
 * New Arrival
 */
.newarrival__inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.newarrival__heading {
  flex: 0 0 24rem;
  order: 0;
}
.newarrival__products {
  list-style: none;
  flex: 0 0 100%;
  order: 2;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.newarrival__item {
  flex: 0 0 25%;
  margin-bottom: 1.5rem;
  padding: 0.375rem;
}
.newarrival__image img {
  aspect-ratio: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
}
.newarrival__info {
  margin: 1.5rem auto;
  text-align: center;
  line-height: 1.44;
}
.newarrival__info a {
  color: #1b2a44;
  font-weight: 700;
}
.newarrival__info a:hover {
  color: #8ca6d2;
}
.newarrival__name, .newarrival__price {
  display: inline-block;
  width: 14.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.newarrival__viewmore {
  flex: 0 0 13.5rem;
  order: 1;
  margin: 1.5rem 0;
}

/*
 * Ranking
 */
.ranking__products {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}
.ranking__item {
  flex: 0 0 20%;
  margin-bottom: 1.5rem;
  padding: 0.375rem;
}
.ranking__image img {
  aspect-ratio: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
}
.ranking__info {
  margin: 1.5rem auto;
  text-align: center;
  line-height: 1.44;
}
.ranking__info a {
  color: #1b2a44;
  font-weight: 700;
}
.ranking__info a:hover {
  color: #8ca6d2;
}
.ranking__name, .ranking__price {
  display: inline-block;
  width: 11.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
 * Concept
 */
.concept {
  position: relative;
  background-color: #1b2a44;
}
.concept__main, .concept__sub {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.concept__mainContent, .concept__subContent {
  flex: 0 0 50%;
  padding: 1.5rem 0;
  color: #ffffff;
  text-align: center;
}
.concept__mainContent {
  min-height: 33.33vw;
}
.concept__mainImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}
.concept__heading img, .concept__heading span {
  display: inline-block;
  padding-left: 1.5rem;
}
.concept__heading img {
  width: auto;
  height: 5.25rem;
}
.concept__heading span {
  color: #a8a8a8;
  font-size: 1rem;
  vertical-align: sub;
}
.concept__mainText, .concept__subText {
  margin: 3rem auto;
}
.concept__mainText p, .concept__subText p {
  margin: 0;
}
.concept__mainText {
  font-size: 1.33rem;
}
.concept__sub {
  padding: 3rem 0;
}
.concept__subImage {
  flex: 0 0 60%;
}
.concept__subContent {
  flex: 0 0 30%;
}
.concept__instagramIcon {
  width: 1.5rem;
  filter: brightness(0) grayscale(1) invert(1);
}
.concept__viewmore {
  border-color: #ffffff;
  background-color: #1b2a44;
  color: #ffffff;
  margin: auto;
}
.concept__viewmore::after {
  filter: brightness(2);
}
.concept__viewmore:hover {
  background-color: #ffffff;
  color: #1b2a44;
}
.concept__viewmore:hover::after {
  filter: none;
}

/*
 * Recommend
 */
.recommend {
  background: linear-gradient(#ffffff 49.99%, #f4f4f4 50%);
}
.recommend__inner {
  overflow: hidden;
}
.recommend__heading {
  margin: 3rem auto;
  text-align: center;
}
.recommend__heading img {
  margin: auto;
  padding: 0;
}
.recommend__image {
  margin: 0;
}
.recommend__image img {
  width: 15rem;
  aspect-ratio: 0.8;
  -o-object-fit: cover;
     object-fit: cover;
}
.recommend__info {
  width: 12rem;
  margin: 1.5rem auto;
  text-align: center;
  line-height: 1.44;
}
.recommend__info a {
  color: #1b2a44;
  font-weight: 700;
}
.recommend__info a:hover {
  color: #8ca6d2;
}
.recommend__name, .recommend__price {
  display: inline-block;
  width: 14.25rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recommend__viewmore {
  margin: 3rem 0 3rem auto;
}

/*
 * Pickup
 */
.pickup {
  background-color: #a8a8a8;
}
.pickup__heading {
  margin: 3rem auto;
  text-align: center;
}
.pickup__heading img {
  margin: auto;
  padding: 0;
}
.pickup__heading span {
  color: #ffffff;
}

/*
 * Instagram
 */
.instagram__heading {
  margin: 3rem auto;
  text-align: center;
}
.instagram__heading img {
  margin: auto;
  padding: 0;
}

/*
 * Footer
 */
.footer__primaryInner {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0;
  border-top: 1px solid #a8a8a8;
}
.footer__secondary {
  background-color: #f4f4f4;
}
.footer__secondaryInner {
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0;
}
.footer__generalInfo {
  flex: 0 0 75%;
  display: flex;
  flex-flow: row wrap;
  padding: 1.5rem 0;
}
.footer__businessDay {
  flex: 0 0 25%;
  padding: 1.5rem 0;
}
.footer__shop, .footer__privacy {
  flex: 0 0 90%;
}
.footer__guide, .footer__help, .footer__company {
  flex: 0 0 30%;
}
.footer__payment, .footer__delivery, .footer__customer {
  flex: 0 0 30%;
}
.footer__primaryHeading {
  margin: 0;
  color: #a8a8a8;
  font-size: 1rem;
  text-transform: uppercase;
}

/*
 * Calendar
 */
.calendar {
  width: 18rem;
  margin: 0.75rem auto;
}
.calendar__view {
  margin: auto;
}
.calendar__view tr {
  border-bottom: 1px solid #999999;
}
.calendar__view tr:first-child {
  border-top: 1px solid #999999;
}
.calendar__view th, .calendar__view td {
  width: 40px;
  height: 24px;
  border-right: 1px solid #999999;
  color: #1b2a44;
  font-weight: 700;
  text-align: center;
}
.calendar__view th:first-child, .calendar__view td:first-child {
  border-left: 1px solid #999999;
}
.calendar__view td[data-state="0"], .calendar__view td[data-state="1"] {
  background: rgba(255, 128, 128, 0.3);
}